# Extension
*.[oaxs]
*.class
*.mod
*.xmod
*.so
*.hex
a.out

libxmpf/include/Makefile
libxmpf/include/xmp_coarray_alloc.h
libxmpf/include/xmp_coarray_get.h
libxmpf/include/xmp_coarray_getsub.h
libxmpf/include/xmp_coarray_put.h
libxmpf/include/xmp_coarray_reduction.h

# Top directory
autom4te.cache
config.log
config.status
/Makefile
/compile

# Sub directories

C-BackEnd/Makefile
C-BackEnd/build/

C-FrontEnd/src/C_Front
C-FrontEnd/src/Makefile
C-FrontEnd/src/c-exprcode.c
C-FrontEnd/src/c-exprcode.h
C-FrontEnd/src/c-lexer.c
C-FrontEnd/src/c-parser.c
C-FrontEnd/src/c-parser.h
C-FrontEnd/src/c-parser.output
C-FrontEnd/src/c-token.c
C-FrontEnd/src/c-token.h

Driver/atool/Makefile
Driver/atool/mk/vars.mk
Driver/atool/src/cmd/Makefile
Driver/atool/src/cmd/paths.h
Driver/atool/src/include/nata/Makefile
Driver/atool/src/include/nata/nata_config.h
Driver/atool/src/include/nata/nata_platform.h
Driver/atool/src/lib/Makefile
Driver/bin/F_Back
Driver/bin/C_Back
Driver/bin/Makefile

F-BackEnd/Makefile
F-BackEnd/build/

F-FrontEnd/gnu_module/Makefile
F-FrontEnd/gnu_module/T_Module
F-FrontEnd/gnu_module/xmpmod
F-FrontEnd/src/C-exprcode.c
F-FrontEnd/src/C-exprcode.h
F-FrontEnd/src/F_Front
F-FrontEnd/src/Makefile
F-FrontEnd/src/F-input-xmod.h
F-FrontEnd/src/F95-parser.c

XcodeML-Common/Makefile
XcodeML-Common/build/

include/config.h
include/stamp-h1
